
.box{
    display: flex;
    height: 100vh;
    padding: 64px;
    gap: 24px;
}

.intro{
    margin-top: 55px;
    padding-left: 24px;
    margin-bottom: 70px;
}

.header1{
    margin: 0;
    font-family: 'Playfair Display';
    font-size: 64px;
    font-weight: bold;
    line-height: 80px;
    color: #050505;
    margin-bottom: 32px;
}

.paragraph {
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    color: #333333;
}

.ac_btn{
    display: flex;
    gap: 32px;
}

.hollow_btn {
    background-color: transparent;
    border: 1px solid #333333;
    color: #333333;
}

.socials{
    border: 1px solid #111111;
    border-radius: 24px;

    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.social_box{
    max-width: 91px;
}

.social_box img {
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
}

.socials p {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
}

/* Right Side */
.showcase{
    width: 100%;
    height: 100%;
    /* background: pink; */
  display: grid;
  place-items: center;
  position: relative;
}

.showcase *{
    position: absolute;
}

.showcase_img_position_box{
    width: 480px;
    height: 628px;
    /* background: #fff; */
    border-radius: 52px;
    place-items: center;

}

.showcase_l_box{
    position: absolute;
    --width: 480px;
    --height: 568px;
    width: var(--width);
    height: var(--height);
    border: 2px solid #111111;
    top: -60px;
    left: -53px;
    border-radius: 40px;

}

.eight_star{
    left: -68px;
    top: -36px;
}

.showcase_r_box{
    position: absolute;
    --width: 310px;
    --height: 476px;
    width: var(--width);
    height: var(--height);
    border: 2px solid #111111;
    bottom: -60px;
    right: -35px;
    border-radius: 40px;

}

.showcase_img_box{
    width: 480px;
    height: 628px;
    background: black;
    border-radius: 52px;
    place-items: center;
    overflow: hidden;
    object-fit: cover;
}

.diamond_l{
    width: 75px;
    height: auto;
    left: 39px;
    top: 69px;
}

.diamond_r{
    width: 103px;
    height: auto;
    right: 17px;
    bottom: 27px;
}

.show_tag{
    background-color: #685FD4;
    padding: 16px 24px;
    border-radius: 16px;

    color: #fff;
    font-size: 24px;
    line-height: normal;
}

.t{
    right: -34px;
    top: 46px;
}

.b{
    left: -89px;
    bottom: 39px;
}