:root {
  font-family: Avenir, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;
  
  --text-color: 37, 37, 37;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --default-page-padding: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button{
  background-color: rgb(var(--text-color));
  border: none;
  padding: 0px 48px;
  border-radius: 16px;
  cursor: pointer;
  height: 54px;
  align-items: center;
}

button:hover{
  background-color: rgba(var(--text-color), 0.5);
}

.button-text{
  height: 18px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}